.error_message {
    color: var(--red-primary);
    font-size: 0.875rem;
}

.tags_section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tags_label {
    font-size: 1rem;
    /* font-weight: bold; */
    color: white;
}

.tags_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag_button {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.176);
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.selected {
    background-color: #25252b;
    color: white;
}

.user_instruction {
    font-size: smaller;
}
