.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
}

.app_logo {
    height: 100px;
    width: 100px;
    border-radius: 0.2rem;
}

.app_name {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: -0.07rem;
}

.subtitle {
    color: var(--gray-800);
    font-size: 1rem;
    margin-bottom: 2.5rem;
    margin-left: 0.3rem;
}

.signup_link {
    color: var(--green-500);
    margin-left: 0.3rem;
}

.inputGroup {
    position: relative;
    margin-bottom: 1rem;
    background-color: black;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: 0.2s ease all;
    color: var(--gray-800);
    pointer-events: none;
    font-size: 0.9rem;
    background-color: white;
    padding: 0 0.3rem;
    background-color: black;
}

.input {
    width: -webkit-fill-available;
    padding: 0.8rem 0.75rem;
    border: 1px solid var(--primary-gray);
    border-radius: 0.6rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
    background-color: black;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -6px;
    left: 12px;
    font-size: 12px;
    color: var(--gray-100);
    background-color: black;
}

.password_container {
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 1rem;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--gray-800);
}

.eyeIcon:hover {
    color: var(--gray-500);
}

.spinning_loader {
    position: absolute;
    left: 29%;
    top: 10%;
}

.loginButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    color: black;
    border: 1px solid var(--gray-100);
    border-radius: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem 0 1rem 0;
    position: relative;
}

.loginButton:hover {
    opacity: 0.6;
}

.socialButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socialButton {
    width: 100%;
    padding: 0.75rem;
    background-color: black;
    color: white;
    border: 1px solid var(--primary-gray);
    border-radius: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socialButton:hover {
    background-color: var(--gray-300);
}

.socialIcon {
    height: 1.3rem;
}

.error {
    font-size: 0.8rem;
    color: red;
    margin-top: 0.2rem;
}

.forgot_password {
    text-align: right;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--green-500);
}

@media (min-width: 220px) and (max-width: 426px) {
    .container {
        justify-content: flex-start;
        padding: 2rem 1rem;
        min-height: 100vh;
    }

    .form {
        padding: 2rem 0.5rem;
    }

    .app_logo {
        display: block;
    }

    .app_name {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.05rem;
        margin-bottom: 0.5rem;
    }

    .subtitle {
        margin-bottom: 2.5rem;
    }

    .input,
    .createButton,
    .googleButton {
        font-size: 0.9rem;
    }

    .label {
        font-size: 0.8rem;
    }
}

@media (min-width: 425px) and (max-width: 860px) {
    .container {
        justify-content: flex-start;
        padding: 1rem 2rem;
        width: 100%;
    }

    .app_logo {
        display: block;
    }

    .app_name {
        display: block;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.05rem;
        margin-bottom: 0.5rem;
    }

    .input {
        padding: 0.75rem 0.5rem;
    }

    .label {
        font-size: 0.8rem;
    }
}

@media (min-width: 860px) and (max-width: 1024px) {
    .container {
        padding: 3rem 1rem;
    }
    .title {
        font-size: 2.1rem;
    }

    .subtitle {
        margin-bottom: 2.5rem;
    }

    .input,
    .createButton,
    .googleButton {
        font-size: 0.9rem;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .container {
        padding: 3rem 1rem;
    }
}
