.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    position: relative;
}

.app_logo {
    height: 100px;
    width: 100px;
    border-radius: 0.2rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    letter-spacing: -0.07rem;
}

.subtitle {
    color: var(--gray-600);
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.input_group {
    position: relative;
    margin-bottom: 1rem;
    background-color: black;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: 0.2s ease all;
    color: var(--gray-100);
    pointer-events: none;
    font-size: 0.9rem;
    background-color: black;
    padding: 0 0.3rem;
}

.input {
    width: -webkit-fill-available;
    padding: 0.8rem 0.75rem;
    border: 1px solid var(--primary-gray);
    border-radius: 0.6rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
    background-color: black;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -6px;
    left: 12px;
    font-size: 12px;
    color: var(--gray-100);
    background-color: black;
}

.password_container {
    position: relative;
}

.eyeIcon {
    position: absolute;
    right: 1rem;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--gray-800);
}

.eyeIcon:hover {
    color: var(--gray-500);
}

.submitButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: white;
    color: black;
    border: 1px solid var(--gray-100);
    border-radius: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.5rem 0 1rem 0;
    position: relative;
}

.submitButton:hover {
    opacity: 0.6;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 0.25rem;
    margin-left: 0.4rem;
}

.footer {
    text-align: center;
    margin-top: 1rem;
}

.login_link {
    color: var(--green-500);
    margin-left: 0.3rem;
}

.back_button {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    left: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.back_button:hover {
    opacity: 0.5;
    transition: opacity 0.1s ease-in;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .container {
        padding: 3rem 1rem;
    }
}