@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter';
    background-color: black;
    color: white;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1024px;
    /* overflow-x: hidden; */
    min-width: 320px;
    

    --background-dark: rgba(0, 0, 0, 0.616);
    --background-light: rgba(255, 255, 255, 0.055);
    --background-medium: rgba(255, 255, 255, 0.07);
    --background-low: rgba(255, 255, 255, 0.07);
    --white-opacity-low: rgba(255, 255, 255, 0.1);
    --white-opacity-medium: rgba(255, 255, 255, 0.5);
    --white-opacity-none: rgba(255, 255, 255, 0);
    --shadow-light: rgba(0, 0, 0, 0.1);
    --shadow-medium: rgba(0, 0, 0, 0.37);
    --gray-secondary: #ffffff80;
    --text-primary: #fff;
    --text-secondary: #d1d1d1;
    --button-hover: #007bff;

    --primary-gray: #ffffff50;
    --secondary-gray: #ffffff80;
    --gray-100: #a1a1a1;
    --gray-300: #333;
    --gray-500: #555;
    --gray-600: #666;
    --gray-800: #757575;
    --gray-ccc: #ccc;
    --green-500: #7dff40;
    --red-primary: #ff0000;

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        border: none;
        -webkit-text-fill-color: white;
        -webkit-box-shadow: 0 0 0px 1000px #000 inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    input::spelling-error,
    select::spelling-error,
    textarea::spelling-error {
        color: white !important;
    }
}

html,
body {
    height: 100%;
    margin: 0 auto;
    user-select: none;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
}

@media (max-width: 1024px) {
    html,
    body {
        overflow-x: hidden;
    }
}

@font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    src: url('./assets/fonts/Inter-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 200;
    font-style: normal;
    src: url('./assets/fonts/Inter-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url('./assets/fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src: url('./assets/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    src: url('./assets/fonts/Inter-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src: url('./assets/fonts/Inter-Black.woff2') format('woff2');
}
